mat-card{
    text-align: center;
    width: 40%;
    margin: auto;
}
.example-full-width{
    width: 80%;
}
button{
    margin: 5px;
}

@media screen and (max-width:768px){
    mat-card{
        text-align: center;
        width: 80%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .example-full-width{
        width: 100%;
    }
}